<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Profile Page</title>
</head>
<body>
  <h1><%= result.username %> </h1>
  <img src="<%= result.img_url %>" alt="">
  <h2><%= result.full_name %> </h2>
  <h3>USER ID: <%= result.id %></h3>
  <h4>POSTS: </h4>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/users/<%= result.id %>/posts/<%= post.id %>/edit">
          EDIT <%= post.title %>
        </a>
      </li>
    <% }); %>
  </ul>
  <h4>COMMENTS: </h4>
  <ul>
    <% comments.forEach(comment => { %>
      <li>
        <a href="/users/<%= result.id %>/comments/<%= comment.id %>/edit">
          EDIT <%= comment.content %>
        </a>
      </li>
    <% }); %>
  </ul>
  <p><a href="/">Home</a></p>
  <p><a href="/users">Users</a></p>
  <p><a href="/users/<%= result.id %>/edit">Edit</a></p>
  <p><a href="/users/<%= result.id %>/posts/new">Post</a></p>
</body>
</html>
