<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>User Post</title>
</head>
<body>
  <h1><%= result.title %></h1>
  <h2>Posted by: <%= result.user_id %></h2>
  <p><%= result.content %></p>
  <p><a href="/">Home</a></p>
  <p><a href="/posts">Posts</a></p>
  <!-- <p><a href="/posts/<%= result.id %>/edit">Edit</a></p> -->
  <p><a href="/posts/<%= result.id %>/comments/new">Leave Comment</a></p>
  <p><a href="/posts/<%= result.id %>/comments">View Comments</a></p>
</body>
</html>
